.card2 {
 width: 130px;
 min-height: 50px;
 border-radius: 20px;
 background: #ffffff;
 border: 1px solid rgba(0, 0, 0, 0.1);
 box-shadow: 5px 5px 10px #e9e9e9,
               -5px -5px 10px #ffffff;
}

.icono{
    color: rgb(68, 68, 68);
}

